@model List<Pokemon>
@{
    ViewBag.Title = "Pokedex";
    int MaxPokemon = int.Parse(Configuration["MaxPokemon"]);
}
<h1>Pokedex</h1>
@{ 
    int i = 0;

}
@foreach (Pokemon p in Model)
{
    var url = $"/Images/{p.Id}.png";
    <a asp-controller="Pokedex" asp-action="Details" asp-route-id="@p.Id"> <img src="@url" /></a>
    if (i++ > MaxPokemon)
    {
        break;
    }
}
<br />
<b>Page generated: @ViewBag.TimeStampGenerated</b>